.center-text {
  text-align: center;
  vertical-align: middle;   
}

.hero-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 600px;
}

.animate__animated.animate__zoomInLeft {
  --animate-duration: 2s;
}

/* @keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

/* .container img {
    animation: rotate 5.35s linear;
} */