.left-col {
    flex: auto;
    max-width: 1000px;
}

.right-col {
    flex: auto;
    max-width: 500px;
}

.resume-container {
    /* width: 100vw;
    height: 100%; */
    flex-wrap: wrap;
    gap: 32px;
}

.resume-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 16px; 
    padding: 16px;

    background: whitesmoke;
}

.skills-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  .skills-card {
    margin: 32px;
  }
